<h2>Edit author</h2>
<form action="/authors/<%= author.id %>?_method=PUT" method="POST">
  <label for="authorName">Author Name:</label>
  <input type="text" id="authorName" name="name" value="<%=author.name%>" />
  <a href="/authors/<%= author.id %>">Cancel</a>
  <button type="submit">Update</button>
</form>
