<form action="/authors" method="POST">
  <a href="/authors">Cancel</a>
  <label for="authorName">Author Name:</label>
  <input type="text" id="authorName" name="name" value="<%=author.name%>" />
  <button type="submit">Create</button>
</form>
